html,
body {
	background-color: #002a35;
	color: #d7e0e1;
	font-family: "MiloTE","MiloTESec",Charter,"Bitstream Charter","Iowan Old Style","Calisto MT",serif;
	/* "San Francisco", "Helvetica Neue", Arial, sans-serif; */
	font-size: 1.05em;
	line-height: 1.5em;
}

::selection {
	background: rgba(255, 255, 255, 0.05);
}

a,
a:visited,
a:active,
a code {
	color: #2aa198;
	border-color: #073642;
	padding: 3px;
	border-bottom: 0;
}

a:hover {
	background-color: #073642;
	border-color: #073642;
	color: #98e4df;
}

.post-content a:hover {
	border-radius: 6px;
}

.sidebar-post a:hover, .nav a:hover, #combineslack a:hover {
  color: #98e4df;
  text-decoration: none!important;
  background-color: #073642!important;
  border-color: #073642;
  border-radius: 6px;
}

hr {
	border-color: #073642;
}

h1,
h2 {
	color: #ec6b17;
	font-family:  "San Francisco", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.55em!important;
}
h2 { margin-top:50px!important; }

h3 {
	color: #ec6b17;
	font-family:  "San Francisco", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.25em!important;
}
h3 { margin-top:30px!important; }

h1 a,
h1 a:visited,
h1 a:active {
	color: #ec6b17;
}

h1 a:hover {
	border-color: #073642;
	color: #cb4b16;
}

article h1 a.anchor {
	color: #2aa198;
}

blockquote {
	border-color: #cb4b16;
}

#sidebar a:hover {
	background-color: transparent;
}

#sidebar a:hover span {
	color: #2aa198;
	background-color: #073642;
}

#footer {
	border-color: #073642;
}

.hljs {
	background: none;
}

.sidebar-post a {
  font-family:  "San Francisco", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.25em;
}

code {
  background-color: rgba(255, 255, 255, 0.05);
  color: #b0baba;
  padding: 4px;
  border-radius: 6px;
}

code, code span {
  font-size: 0.9em!important;
  line-height: 1.28em!important;
}

blockquote p {
  font-size: 0.85em!important;
  line-height: 1.3em;
}

.nav li, #combineslack li {
  margin-top: 5px!important;
}